.sung-subscribe {
  padding: 69px 0;
  text-align: center
}

.sung-subscribe .crmFormVali-error {
  right: 104px;
}

.sung-subscribe span {
  font-size: 50px;
  line-height: 50px;
  color: var(--color-primary);
  font-weight: bolder;
  font-family: monospace;
}

.sung-subscribe h2 {
  font-size: clamp(24px, 1.98vw, 38px);
  color: #000;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  margin: 0 auto;
}

.sung-subscribe h2 strong {
  font-weight: 600
}

.sung-subscribe .form-box {
  margin: 20px auto 0;
  /* width: 720px; */
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center
}

.sung-subscribe .submit_text {
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #666;
  padding: 0 100px 0 16px;
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  border: 2px solid #555555;
}

.sung-subscribe input::-webkit-input-placeholder,
.sung-subscribe input::-moz-placeholder {
  color: #666;
  opacity: 1
}

.sung-subscribe .submit_btn {
  position: absolute;
  right: 0px;
  top: 0;
  background: 0 0;
  display: block;
  cursor: pointer;
  text-align: center;
  outline: none;
  width: 100px;
  height: 100%;
  background-color: var(--color-second);
  border: 2px solid #555555;
}

.sung-subscribe .submit_btn:hover {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%),
    var(--color-second);
}

.sung-subscribe .submit_btn i {
  font-size: 35px;
  color: #fff;
}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1280px) {

  .sung-subscribe .submit_text {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    padding: 0 70px 0 10px
  }
}

@media screen and (max-width: 768px) {


  .sung-subscribe {
    padding: 30px 0;
  }

  .sung-subscribe .form-box {
    width: 90%
  }

  .sung-subscribe .submit_text {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding:0 70px 0 10px;
  }
  
  .sung-subscribe .submit_btn i {
    font-size: 18px;
  }

  .sung-subscribe .crmFormVali-error {
    top: auto;
    right: auto;
    left: 14px;
    bottom: -14px;
  }
}

