.qianhe-faq {
  position: relative;
}
.qianhe-padding {
  padding: 70px 0;
}

.cd-faq-categories a {
  position: relative;
  display: block;
  padding: 25px 18px;
  font-size: 22px;
  font-family: var(--font-family);
  color: #000;
  /* letter-spacing: 2px; */
  /* text-shadow: -1px -1px 0 #9c9c9c, 1px -1px 0 #9c9c9c, -1px 1px 0 #9c9c9c,
    1px 1px 0 #9c9c9c; */
  border-bottom: 1px solid #ddd;
}

.cd-faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.cd-faq:after {
  content: "";
  display: table;
  clear: both;
}
.cd-faq-group .faq-list.card {
  width: 100%;
  margin-top: 12px;
  border: 1px solid #dfe3e6;
}

.cd-faq-group .faq-list .card-header {
  padding: 15px 20px;
  background-color: #fff;
  border: none;
}

.cd-faq-group .faq-list .collapse,
.cd-faq-group .faq-list .collapsing {
  border-top: 1px solid #dfe3e6;
}

.cd-faq-items h3 {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cd-faq-items h3 span {
  display: block;
  flex: 1;
  padding-right: 20px;
  font-size: clamp(15px, 0.9vw, 17px);
  letter-spacing: 0;
}

.cd-faq-items h3 .toggle-btn::before {
  flex-shrink: 0;
  content: "\e687";
  font-family: "iconfont";
  font-size: 20px;
}

.cd-faq-items h3[aria-expanded="true"] .toggle-btn::before {
  content: "\e6b3";
}

.cd-faq-items .card-body {
  overflow: hidden;
}

.cd-faq-categories {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 2;
  float: left;
}

.cd-faq-categories.is-fixed {
  position: fixed;
}

.cd-faq-categories a {
  position: relative;
  display: block;
  border-bottom: 1px solid #ddd;
  /* overflow: hidden; */
  line-height: 1.2;
  font-size: clamp(18px, 1.05vw, 20px);
  padding: 20px;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  /* color: #ffffff; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  /* letter-spacing: 2px; */
  /* text-shadow: -1px -1px 0 #9c9c9c, 1px -1px 0 #9c9c9c, -1px 1px 0 #9c9c9c,
    1px 1px 0 #9c9c9c; */
}

.cd-faq-categories .selected,
.cd-faq-categories a:hover {
  color: var(--color-primary);
  text-shadow: 0 0 0 var(--color-primary);
}

.cd-faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  position: static;
  height: auto;
  width: 78%;
  float: right;
  overflow: visible;
  -webkit-transform: translateZ(0) translateX(0);
  -moz-transform: translateZ(0) translateX(0);
  -ms-transform: translateZ(0) translateX(0);
  -o-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  padding: 0;
  float: none;
  width: 100%;
  padding-left: 220px;
}

@media (max-width: 991px) {
  .cd-faq-categories {
    position: relative;
    width: 100%;
    float: none;
  }

  .cd-faq-items {
    padding-left: 0;
  }

  .qianhe-padding {
    padding: 30px 0;
}
.cd-faq-items .card-body {
    font-size: 14px;
}
}
